.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  margin: 40px;
  margin-top: 0;

  div {
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: $minty_green;
    height: 300px;
    background-size: cover;

    &:hover {
      opacity: 0.8;
      transform: scale(1.01);
    }
  }

  .grid__img-1 {
    background-image: url(../../components/wallpaper1.jpg);
  }

  .grid__img-2 {
    background-image: url(../../components/wallpaper2.jpg);
  }

  .grid__img-3 {
    background-image: url(../../components/wallpaper3.jpg);
  }

  .grid__img-4 {
    background-image: url(../../components/wallpaper4.jpg);
  }

  .grid__img-5 {
    background-image: url(../../components/wallpaper5.jpg);
  }

  .grid__img-6 {
    background-image: url(../../components/wallpaper6.jpg);
  }

  .grid__img-7 {
    background-image: url(../../components/wallpaper7.jpg);
  }

  .grid__img-8 {
    background-image: url(../../components/wallpaper8.jpg);
  }
}