.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  margin: 40px;
  margin-top: 90px;

  div {
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: $minty_green;
    height: 300px;
    background-size: cover;

    &:hover {
      opacity: 0.8;
      transform: scale(1.01);
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}