.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    margin: 40px;
    margin-top: 0;
  
    div {
      cursor: pointer;
      transition: all 0.3s ease-out;
      background: #43FFA8;
      height: 300px;
      background-size: cover;
    }
  
    .img-1 {
      background-image: url(../../components/wallpaper1.jpg);
    }
  
    .img-2 {
      background-image: url(../../components/wallpaper2.jpg);
    }
  
    .img-3 {
      background-image: url(../../components/wallpaper3.jpg);
    }
  
    .img-4 {
      background-image: url(../../components/wallpaper4.jpg);
    }
  
    .img-5 {
      background-image: url(../../components/wallpaper5.jpg);
    }
  
    .img-6 {
      background-image: url(../../components/wallpaper6.jpg);
    }
  
    .img-7 {
      background-image: url(../../components/wallpaper7.jpg);
    }
  
    .img-8 {
      background-image: url(../../components/wallpaper8.jpg);
    }
  
    .img-1:hover, .img-2:hover, .img-3:hover, .img-4:hover, .img-5:hover, .img-6:hover, .img-7:hover, .img-8:hover {
      opacity: 0.8;
      transform: scale(1.01);
    }
  }