$minty-green: #43FFA8;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  // padding-top: 90px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

// header & navbar

.logo {
  width: 140px;
  padding: 10px 20px;

  &:hover {
    transform: scale(0.95);
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  ;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  text-align: right;
}

.bg-light {
  background-color: white !important;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: $minty-green;
}

.active a {
  color: $minty-green !important;
  background-color: white;
}

// nosotros & livestream

.container-fluid {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 60px;
  padding: 60px;
  line-height: 1.2;

  &__text {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

// contacto

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 90px;
  align-items: center;

  &__text {
    font-weight: bold;
    font-size: 40px;
  }

  &__label {
    font-weight: 500;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 6px 12px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 6px 12px;
  }

  &__button[type=submit] {
    width: 100%;
    background-color: $minty-green;
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: white;
      transition: all 0.3s ease 0s;
    }
  }
}

// trabajos

@import 'grid-images';

// footer

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  background-color: #EAEAEA;
  margin-top: auto;

  ul {
    margin-bottom: 0;
  }

  &__text {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__list-item {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
      text-decoration-color: $minty-green;
    }
  }
}

@media (max-width: 768px) {

  .logo {
    width: 100px;
    padding: 10px;
  }

  .container-fluid {

    padding: 30px;
    width: 100%;

    &__text {
      font-size: 50px;
      font-weight: bold;
    }
  }
}

@media (max-width: 576px) {

  .container-fluid .container-fluid__text {
    font-size: 20px;
    font-weight: bold;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 40px;
    margin-top: 0;
  }

  .container {

    &__text {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .footer {
    font-size: 10px;

    &__section {
      margin-right: 0;
    }

    &__text {
      font-size: 12px;
    }
  }
}