$minty-green: #43FFA8;

* {
  margin: 0;
  padding: 0;
  background-color: $minty-green;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $minty-green;
}

// header

.navbar .navbar-light .bg-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.bg-custom {
  background-color: $minty-green;
}

.logo {
  width: 140px;
  padding: 10px 20px;

  &:hover {
    transform: scale(0.95);
  }
}

// menu

.container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;

  ul {
    color: black;
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }

  li {
    background-color: $minty-green;
  }

  a {
    text-decoration: none;
    color: black;
  }

  li a:hover {
    color: white;
    transition: all 0.3s ease 0s;
  }
}

.list-group-flush .list-group-item {
  border: none;
}

// footer

.navbar .fixed-bottom .navbar-light .bg-light {
  width: 100%;
  text-align: right;
  margin-top: auto;
}

.bg-custom {
  background-color: transparent;
}

.fixed-bottom {
  justify-content: flex-end;
}

img {
  width: 30px;
  margin-bottom: 15px;

  &:hover {
    transform: scale(0.95);
  }
}

.instagram-link {
  text-decoration: none;
  margin: 5px;
}

.youtube-link {
  text-decoration: none;
  margin: 5px;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .container-fluid {
    margin-bottom: 100px;

    ul {
      color: black;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .logo {
    width: 100px;
    padding: 10px;
  }

  img {
    width: 30px;
  }
}

@media (min-width:320px) and (max-width:900px) and (orientation: landscape) {

  .container-fluid {
    margin-bottom: 100px;

    ul {
      color: black;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .logo {
    width: 100px;
    padding: 10px;
  }

  img {
    width: 25px;
  }
}