* {
  margin: 0;
  padding: 0;
  background-color: #43FFA8;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #43FFA8;
}

.navbar .navbar-light .bg-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.bg-custom {
  background-color: #43FFA8;
}

.logo {
  width: 140px;
  padding: 10px 20px;
}

.logo:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.container-fluid ul {
  color: black;
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.container-fluid li {
  background-color: #43FFA8;
}

.container-fluid a {
  text-decoration: none;
  color: black;
}

.container-fluid li a:hover {
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list-group-flush .list-group-item {
  border: none;
}

.navbar .fixed-bottom .navbar-light .bg-light {
  width: 100%;
  text-align: right;
  margin-top: auto;
}

.bg-custom {
  background-color: transparent;
}

.fixed-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

img {
  width: 30px;
  margin-bottom: 15px;
}

img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.instagram-link {
  text-decoration: none;
  margin: 5px;
}

.youtube-link {
  text-decoration: none;
  margin: 5px;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .container-fluid {
    margin-bottom: 100px;
  }
  .container-fluid ul {
    color: black;
    font-size: 40px;
    font-weight: 700;
  }
  .logo {
    width: 100px;
    padding: 10px;
  }
  img {
    width: 30px;
  }
}

@media (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
  .container-fluid {
    margin-bottom: 100px;
  }
  .container-fluid ul {
    color: black;
    font-size: 30px;
    font-weight: 700;
  }
  .logo {
    width: 100px;
    padding: 10px;
  }
  img {
    width: 25px;
  }
}
