* {
  margin: 0;
  padding: 0;
  background-color: #43FFA8;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-bottom: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  width: 110px;
  padding: 10px 20px;
}

.logo:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.indexmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.indexmenu ul {
  color: black;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
}

.indexmenu a {
  text-decoration: none;
  color: black;
}

.indexmenu li a:hover {
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.indexfooter {
  width: 100%;
  text-align: right;
  background-color: transparent;
  margin-top: auto;
}

.indexfooter img {
  width: 30px;
  margin-bottom: 15px;
}

.indexfooter img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.instagram-link {
  text-decoration: none;
  margin: 5px;
}

.youtube-link {
  text-decoration: none;
  margin: 5px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .indexmenu ul {
    color: black;
    font-size: 60px;
    font-weight: 700;
  }
}

@media (max-width: 376px) {
  .indexmenu ul {
    color: black;
    font-size: 50px;
    font-weight: 700;
  }
}
